{% include "DetectionAnomalie/header.html" %}

<p>Vous avez séléctionné : {{ request.POST.files }} avec clusters {{ request.POST.k }} et un taux d'anomalie de {{ request.POST.N }} %</p>
<p id="data">{{ tab.values|safe }}</p>
<p id="json_str">{{json}}</p>
<p id="json_str2">{{json2}}</p>

<div id="scatter-load"></div>

<div id="directed-load"></div>

<form action="{% url 'formulaire' %}">
    <div class="col-md-offset-4">
        <input type="submit" value="Changer" class="btn btn-primary" />
    </div>
</form>
{% include "DetectionAnomalie/footer.html" %}
