{% include "DetectionAnomalie/header.html" %}
    <h1>Sélection des informations</h1>
    <form action="{% url 'traiter' %}" method="POST">
        {% csrf_token %}

        <div class="input-group">
            <label>Sélection du dataset</label>
            <select id="files" name="files" class="form-control">
                {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group">
            <label for="k">K</label>
            <input type="number" id="k" name="k" min="1" value="1" class="form-control" />
        </div>

        <div class="input-group">
            <label for="N">N</label>
            <input type="number" id="N" name="N" min="0" step="0.01" value="1" class="form-control" />
        </div>

        <div class="input-group">
            <input type="hidden" name="cache" id="cache" />
            <label>Choisissez les champs</label><br />
            <select id="select" name="select" multiple="multiple">
                {% for file_name in files_name %}
                    {% if forloop.counter > 4 and forloop.counter < 8 %}
                        <!--<label for="champ{{forloop.counter}}" class="btn btn-default"><input type="checkbox" value="{{file_name}}" name="champ{{forloop.counter}}" id="champ{{forloop.counter}}" checked/>{{file_name}}</label>-->
                        <option value="{{file_name}}" selected>{{file_name}}</option>
                    {% else %}
                        <!--<label for="champ{{forloop.counter}}" class="btn btn-default"><input type="checkbox" value="{{file_name}}" name="champ{{forloop.counter}}" id="champ{{forloop.counter}}" />{{file_name}}</label>-->
                        <option value="{{file_name}}">{{file_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-offset-4">
            <input type="button" value="clear" class="btn btn-danger" id="clear" />
            <input type="button" value="reset" class="btn btn-success" id="reset" />
            <input type="button" value="all" class="btn btn-warning" id="all" />

            <input type="submit" value="Lancer" class="btn btn-primary"/>
        </div>
    </form>

    {% include "DetectionAnomalie/footer.html" %}