      {% include "DetectionAnomalie/header.html" %}

      <div class="jumbotron">
        <h1>Bienvenue</h1>
        <p class="lead">Vous vous trouvez sur la page d'introduction de notre projet "Détection d'anomalie"</p>
      </div>

     <!-- <div class="row marketing">
        <div class="col-lg-6">
          <h4>Test des 10% des données kddcup</h4>
          <a class="btn btn-primary" href="#">Lancer le test</a>
        </div>

        <div class="col-lg-6">
          <h4>Test des données kddcup</h4>
          <a class="btn btn-primary" href="#">Lancer le test</a>
        </div>
      </div>-->

      <div class="row marketing">
          <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'formulaire' %}">Lancer le test</a>
          </div>
      </div>

      {% include "DetectionAnomalie/footer.html" %}